node_modules
.yarn
.bun.lockb
package-lock.json


#Hardhat files
cache
artifacts
deployments

# .env
.env
.vscode
yarn.lock
gnosis

out
reports
report
cache_forge
coverage
coverage_foundry
docs
broadcast
deployed_contracts.json
_audit
lcov.info
